<div class='splash-body'>
  <h1 class='splash-intro'>Trail Mix</h1>
  <!-- Refresh frame -->
  <div class="cont"></div>
  <!-- Sky frames -->
	<div class="sky">
		<div class="sky-dawn">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="440 300 200 200" enable-background="new 440 300 200 200" xml:space="preserve" height='95%' width='95%' class='brand' z-index='1'>
         <polygon fill="none" stroke="#455448" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
         539.1,331.5 458.3,470.9 620.3,470.9 	" class='shape-one'/>
         <polyline fill="none" stroke="#455448" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
         514.2,374.7 533.7,369.3 553.7,397.3 571,386.2 	" class='shape-two'/>
      </svg>
    </div>
  </div>
<!-- Splash page content -->
  <div id='contento' stylemarign-top='50px;'>
    <div class="tagline">
      <p>Get the dirt on your next hike!</p>
    </div>
    <button class="google-button .pressed" data-js="login-button">
      <a href="/auth/google" class="unstyled">
        <span><i class="fa fa-google-plus fa-lg"></i>&nbsp;log in with Google</span>
      </a>
    </button>
  </div>
</div>

<!-- splash page scripts -->
<script src="javascripts/landing.js"></script>
